.container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
}
.pesquisa {
  text-align: center;
  margin-top: 30px; 
}

.mx-2{
  background-color: none;
  border: none;
  color: #000;
  cursor: pointer;

}
.mx-2:hover{
  text-decoration: none;

}